.ipynb_checkpoints/

__pycache__/ 

.DS_Store

Figures/

Data/

Results/

Simulation Data/

Model-Spiking-ORN-dmel-2heptanone.ipynb

Model-Spiking-ORN-dmel-anisole.ipynb

Model-Spiking-ORN-dmel-geranyl-acetate.ipynb

Model-Spiking-ORN-dmel-menthol.ipynb

Model-Spiking-ORN-dmel-GA-Pickys-Connected.ipynb
	
Model-Spiking-ORN-dmel-GA-Pickys-Disconnected.ipynb
	
Model-Spiking-ORN-dmel-anisole-SiECvalues.ipynb

Comparing-dmel-dere-connectivity.ipynb
	
Odorant_Stim_SiECvalues.py

picky.cfg

PyTry-Results-SingleOSN-Exp1A.ipynb

Trial-Results.ipynb

Trial-version.ipynb

Model-single-ORN-activity.ipynb