.ipynb_checkpoints/

__pycache__/ 

.DS_Store

Model-Spiking-ORN-dmel-2heptanone.ipynb

Model-Spiking-ORN-dmel-anisole.ipynb

Model-Spiking-ORN-dmel-geranyl-acetate.ipynb

Model-Spiking-ORN-dmel-menthol.ipynb